parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - 'src/DataFixtures'
    doctrine:
    	objectManagerLoader: tests/object-manager.php
    	reportDynamicQueryBuilders: true
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    scanDirectories:
        - var/cache/dev/Symfony/Config